# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
  - cron: "0 6,12,18,23 * * *"

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi


      - name: Create temporary file
        run: |
          echo "${{ secrets.SECRET }}" > token.json


      - name: Run main
        env:
          SECRET: ${{ secrets.SECRET }}
          BOT_API_TOKEN: ${{ secrets.BOT_API_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          
        run: python main.py


    # - uses: actions/checkout@v3
    # - name: Decode base64 secrets
    #   env:
    #     SECRETS_FILE_CONTENTS: ${{ secrets.SECRETS_FILE_CONTENTS }}
    #   run: |
    #     echo $SECRETS_FILE_CONTENTS | base64 --decode > secrets.env
    # - name: Set up Python 3.10
    #   uses: actions/setup-python@v3
    #   with:
    #     python-version: "3.10"
    # - name: Install dependencies
    #   run: |
    #     python -m pip install --upgrade pip
    #     pip install flake8 pytest
    #     if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
